* {
  margin: 0;
  padding: 0;
  background-color: rgba(2, 2, 2, 0.815);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
.parent {
  width: 100%;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 2vh;
}
.button button ,input{
  margin: 0 1vw;
  padding: 5px 10px;
  background-color: rgb(26, 26, 43);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}
input{
  cursor:unset;
}